<h1>hello</h1>

{% schema %}
  {
    "name": "Hero Banner",
    "settings": [
      {
        "type": "text",
        "id": "text",
        "label": "Text"
      }
    ],
    "presets": [
      {
        "name": "Hero Banner"
      }
    ]
  }
{% endschema %}